.navbar-brand
{
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
// .has-gradient-text {
//     background: -webkit-linear-gradient(#13f7f4, #2af598);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }
.btn-nav{
    background: rgba(150,232,165,.7);
    padding: 8px 15px;
    color: white;
    text-transform: capitalize;
}
.navbar-brand
{
    text-transform: capitalize;
    font-weight: bold;
}
fa-icon
{
    font-size: 17px;
}